/* Universal Selector Start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}

/* Universal Selector End */

/* Navigation Start */

nav {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

nav ul li {
   list-style-type: none;
   display: inline-block;
   margin: 8px 8px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav .logo img {
    width: 24px;
}

/* Navigation End */

/* Hero Start */

.hero {
    background-image: url('img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    color: white;
}

.hero-content {
    display: flex;
    justify-content: center;
}

.hero-text {
    margin: 70px 0;
}

.hero-text h1 {
    font-size: 3rem;
    width: 450px;
}

.hero-text p {
    width: 350px;
}

.hero-text{
    padding: 30px;
}

.hero img {
    width: 380px;
}

/* Hero End */