* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}

.hero {
    background-image: url('img/bg.jpg');
    background-repeat: none;
    background-size: cover;
    background-position: center;
    height: 500px;
    color: white;
}
.hero-content {
    display: flex;
}

.hero-text {
    margin: 70px 0;
}

.hero-text h1 {
    font-size: 3rem;
    width: 450px;
}

.hero-text p {
    width: 350px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}

nav ul li {
   list-style-type: none;
   display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
}


.hero-text{
    padding: 30px;
}

.hero img {
    width: 380px;
}