/* Universal Selector Start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    list-style-type: none;
}

section {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Universal Selector End */

/* Universal Class Start */

.title {
    font-size: 2.6rem;
}

/* Universal Class En d */



/* Navigation Start */

nav {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

nav ul li {
   display: inline-block;
   margin: 8px 8px;
}

nav ul li a {
    color: white;
}

nav .logo img {
    width: 24px;
}

/* Navigation End */

/* Hero Start */

.hero {
    display: flex;
    flex-direction: column;
    background-image: url('img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.hero .content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 22px;
}

.hero .text {
    flex: 1;
    align-content: center;
    margin: 22px;
}

.hero .img img {
    width: 400px;
}

/* Hero End */

/* About Start */

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.about .cards {
    display: flex;
    margin: 0 100px;
    gap: 40px;
    flex-wrap: wrap;
}

.about .cards .card {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.about .cards .card .border {
    display: block;
    border-radius: 8px;
    border: 4px rgb(80, 156, 255) solid;
}

.about .cards .card
.head {
    font-weight: bold;
}

.about .cards .card
.body {
    color: grey;
}

/* About End */


/*
@media screen and (max-width: 800px) {
    .hero {
      color: blue;
    }
  }
*/